<div class="container">
    <h1 class="text-center mt-3">Liste des Suggestions</h1><br>
    <a routerLink="/suggestion/add">Ajouter une Suggestion</a>
    <div class="card mb-3" *ngFor="let suggestion of suggestions">
        <div class="card-body">
            <h5>{{ suggestion.title }} </h5>
            <h6 class="text-primary">{{ suggestion.category }} </h6>
            <button class="btn btn-success" >Like</button>
            <a class="btn btn-info" [routerLink]="['/suggestions/details', suggestion.id]">Détails</a>
            <a class="btn btn-warning" [routerLink]="['/suggestions/update', suggestion.id]">Mettre à jour</a>
            <button class="btn btn-danger" (click)="deleteSuggestion(suggestion.id)">Supprimer</button>
        </div>
    </div>
</div>
